.spotify-login-button {
	background-color: #1db954;
	color: white;
	font-size: 20px;
	padding: 20px 30px;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.spotify-login-button:hover {
	background-color: #1aa34a
}
